# Conexão do banco de dados PostgreSQL
DATABASE_URL=postgresql+psycopg2://usuario:senha@localhost:5432/nome_do_banco

# Chave secreta para assinatura dos tokens JWT
JWT_SECRET_KEY=sua-chave-secreta-segura-aqui

# Configurações do Servidor
HOST=127.0.0.1
PORT=5000
FLASK_DEBUG=False
